@page
@model _NET_project0.Pages_Blog.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Xóa đơn hàng</h1>

<h3>Bạn chắc chắn muốn xóa đơn hàng này?</h3>
<div>
    <h4>Thông tin</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Article.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Article.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Article.PublishDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Article.PublishDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Article.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Article.Content)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Article.ID" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-page="./Index">Quay lại danh sách</a>
    </form>
</div>
