@page
@model _NET_project0.Pages_Menu.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Menu</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.PublishDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.PublishDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Menu.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Menu.Content)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Menu.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
